@font-face {
    font-family: "Gilroy-Bold";
    src: url("../../assets/fonts/Gilroy-Bold.woff");
}

.__interesting-topic{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.__interesting-topic .__interesting-topic__box{
    width: 385px;
    height: 385px;
    border-radius: 24px;
    margin: 12px;
    box-shadow: 0 0 50px #67859E26;
    transition: transform 0.3s;
}
.__interesting-topic .__interesting-topic__box:hover{
    transform: scale(1.1);
}
.__interesting-topic .__interesting-topic__box img{
    padding-top: 20%;
}
.__interesting-topic .__interesting-topic__box p{
    text-align: center;
    font-size: 36px;
    color: #283E51;
    font-family: "Gilroy-Bold", sans-serif;
}