.__product-boxes {
    display: flex;
    justify-content: center;
}
.__product-boxes .__product-box{
    width: 700px;
    border-radius: 24px;
    box-shadow: 0 0 50px #67859E26;
    margin: 0 1%;
    text-align: center;
    margin-bottom: 150px;
    transition: transform 0.3s;
}
.__product-box__title{
    font-size: 46px;
    color: #283E51;
    font-family: "Gilroy-Bold";
}
.__product-box__p{
    font-size: 20px;
    color: #283E51;
    font-family: "Gilroy-Regular";
}
.__product-box img{
    max-width: 100%;
    max-height: 100%;
    width: 650px;
    height: 370px;
}
.__product-box:hover{
    transform: scale(1.1);
}