@font-face {
    font-family: "Butler-Regular";
    src: url("../../assets/fonts/Butler-Regular");
}

.__software-development{
    text-align: center;
    font-size: 100px;
    color: #283E51;
    font-family: "Butler-Regular";
}